/*.b-example-divider {*/
/*    height: 3rem;*/
/*    background-color: rgba(0, 0, 0, .1);*/
/*    border: solid rgba(0, 0, 0, .15);*/
/*        border-top-width: medium;*/
/*        border-right-width: medium;*/
/*        border-bottom-width: medium;*/
/*        border-left-width: medium;*/
/*    border-width: 1px 0;*/
/*    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);*/
/*}*/

.position-sticky{
    position: sticky !important;
}

.animation1{
  animation-name:img-ani;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.animation2{
    opacity: 0;
    animation-name:img-ani;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards
}

.caption1{
    padding-top: 1.25rem;
    padding-bottom: 15rem;
}

@keyframes img-ani {
  from{opacity:0;}
  to{opacity: 1;}
}
